<form action="/todos" method="POST" style="display: inline;">
  <!-- 資料會被放在 HTTP 的 request body 裡，打包成 req.body 物件-->
  <div class="input-group">
    <input class="form-control" type="text" placeholder="name" name="name" />
    <button class="btn btn-success" type="submit">Create</button>
  </div>
</form>